* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    padding-top:0;
}

ul > li.tag {
    list-style:'🏷 ';
    font-size: 1.5rem;
    margin-left:1rem;

}

pre {
    background-color: darkgray;
    border:solid 1px black;
    border-radius: 1%;
    color:#fff;
    font-size: 1.5rem;
    padding:.2em;
}